
<!--Lynn Zein - 301280312-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melolyn Site</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <h1 id="shakeImage" class="header-container" style="cursor: pointer;">
        <a class="welcomemessage">Welcome</a>
        <img src="smileywelcome.jpg" alt="Welcome Smiley" class="imagesize">
      </h1>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://www.youtube.com/@Melolynflow" target="_blank">Music</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contactme">Contact Me</a></li>
            <img src="melolynlogo.png" alt="MelolynLogo" class="logosize">
        </ul>
    <div class="content-container2">
        <h1 class="headeraboutme">About Me</h1>
        <p class="paragraph">
            Welcome to my personal website! I'm Lynn Zein, artist name "Melolyn". 
            I began my academic journey studying Human Resources Management, 
            where I developed a strong foundation in understanding people and organizational dynamics. 
            However, my passion for technology led me to pivot my focus to Software Engineering, 
            where I’m currently honing my skills in coding and web development. 
            Alongside my technical pursuits, I express my creativity through rap music, 
            blending my love for rhythm and storytelling. 
            Here, you'll find a showcase of my projects, both in web development and my musical creations. 
            Thank you for stopping by!
        </p>
        <img alt="forest" src="forest.jpg" class="picture">
    </div>
</body>