<!-- Lynn Zein - 301280312 -->

<div>
    <h1 id="shakeImage" class="header-container" style="cursor: pointer;">
        <a class="welcomemessage">Welcome</a>
        <img src="smileywelcome.jpg" alt="Welcome Smiley" class="imagesize">
      </h1>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://www.youtube.com/@Melolynflow" target="_blank">Music</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contactme">Contact Me</a></li>
            <img src="melolynlogo.png" alt="MelolynLogo" class="logosize">
        </ul>
    <link rel="stylesheet" href="stylesheet.css">
    <div class="socials-container">
        <h1 class="headeraboutme">Contact Me</h1>
        <a href="https://www.instagram.com/melolynlyn/" target="_blank" class="social-icon">
            <img src="igicon.png" alt="Instagram" />
        </a>
        <a href="https://www.youtube.com/@Melolynflow" target="_blank" class="social-icon">
            <img src="ytubeicon.png" alt="YouTube" />
        </a>
        <a href="https://soundcloud.com/melolyn" target="_blank" class="social-icon">
            <img src="soundcloudlogo.jpg" alt="Soundcloud" />
        </a>
    </div>

    <div class="paragraph">
        <p>
            "Feel free to reach out to me for any inquiries or collaborations! 
            Whether you're interested in exploring my web development projects or discussing music, 
            I'd love to connect. For web-related inquiries, you can reach me at 
            <a href="mailto:lynn.zein96@gmail.com"> lynn.zein96@gmail.com</a>. 
            If you'd like to talk about my music or potential collaborations, please contact me at 
            <a href="mailto:melolyn96@gmail.com"> melolyn96@gmail.com</a>. 
            Looking forward to hearing from you!"
        </p>

        <img class="logoimagecontactme" src="melolynlogo.png" alt="MelolynLogo">
    </div>
</div>