<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melolyn Site</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://www.youtube.com/@Melolynflow" target="_blank">Music</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contactme">Contact Me</a></li>
            <img src="/images/melolynlogo.png" alt="MelolynLogo" class="logosize">
        </ul>
    </nav>

</body>
</html>
