
<!--Lynn Zein - 301280312 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Services</title>
</head>
<body>
    <div>
        <h1 id="shakeImage" class="header-container" style="cursor: pointer;">
            <a class="welcomemessage">Welcome</a>
            <img src="smileywelcome.jpg" alt="Welcome Smiley" class="imagesize">
          </h1>
        <nav id="navbar">
            <ul>
              <li><a href="/">Home Page</a></li>
              <li><a href="/aboutme">About Me</a></li>
              <li><a href="/projects">Projects Page</a></li>
              <li><a href="https://www.youtube.com/@Melolynflow" target="_blank">Music</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contactme">Contact Me</a></li>
              <img src="melolynlogo.png" alt="Melolyn Logo" class="logosize">
            </ul>
          </nav>
        <h1 class="header2">Services</h1>

        <div class="services-page">
            <section class="services">
                <div class="service music">
                    <h2>Music Services</h2>
                    <ul>
                        <li>Songwriting</li>
                        <li>Live Performance</li>
                        <li>Collaboration Opportunities</li>
                    </ul>
                </div>
                <div class="service development">
                    <h2>Web & Software Development</h2>
                    <ul>
                        <li>Website Design</li>
                        <li>App Development</li>
                        <li>IT Help</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</body>